* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #2B699D;
}

p {
  font-size: 14px;
  word-break: break-word;
}

a {
  color: lightgrey;

}

#chart {
  margin-left: 500px;
  height: 100vh;
}

.node:hover{
  stroke-width: 7px !important;
  opacity: 1 !important;
}

#tooltip {
  width: 100%;
  height: 75px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  background-color: #BCD7ED;
  color: #5C7E9B;
}

#menu {
  width: 450px;
  height: 50%;
  margin-left: 25px;
  margin-top: 25px;
  padding: 16px;
  border-radius: 5px;
  float: left;
  background-color: #1D4567;
  color: white;
  font-family: Verdana, Helvetica, Arial, Sans Serif;
}

