@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #205263;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  color: #f1f1f1;
  font-size: 1em;
}

a {
  color: #e8e7ee;
}

a:hover {
  text-decoration: none;
}

hr {
  border: 0.5px dashed #f1f1f1;
}

#menu-container {
  display: block;
  float: left;
  width: 33vw;
}

#dialog {
  margin: 30px 0px 30px 30px;
  padding: 25px 25px;
  background-color: #4c7695;
  border-radius: 10px;
}

#dialog h2 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #f1f1f1;
}

.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  background-color: #c0d8d9;
  border-radius: 10px;
  margin-bottom: 16px;
}

#tooltip {
  color: #205263;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

#chart {
  float: left;
  width: 67vw;
  height: 100vh;
}

.node:hover{
  stroke-width: 3px !important;
  opacity: 1 !important;
}

